body{background-color: #000000;} 

.text-center {text-align:center;}

h1 {
text-align: center;
color:whitesmoke;
margin-bottom: 30px;
margin-top: 30px;
}

h2 {color: #0EF400}

.btn { background-color: transparent;
    color: whitesmoke;
    border-color: black;
    outline-color: black;
}

p {color: whitesmoke}

