body{
    background-image: url('https://wallpapercave.com/wp/qQa5Pd7.jpg');
    background-size: 100%;
    font-family: Courier New, Courier, monospace;
 } 

 .title {
     float: left;
     padding-top: 9px;
     padding-right: 15px;
     padding-left: 20px;
 }

 .location {
     float: left;
     padding-right: 5px;
     padding-top: 7px;
    }

.icon {
    padding-right: px;
}

 .temp {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     float: left;
     padding-left: 0px;
     padding-top: 20px;
     
}

h1 {
    font-family: Courier New, Courier, monospace;
    font-size: 10px;
    text-align: center;
    color:whitesmoke;
}



.btn { 
    background-color: transparent;
    color: whitesmoke;
    border-color: transparent;
  
    outline-color: transparent;
    font-size: 73px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
}

.nobtn { 
    background-color: transparent;
    color: whitesmoke;
    border-color: transparent;
    outline-color: transparent;
    font-size: 75px;
    float: left;
}

p {
    color: whitesmoke;
    font-family: Courier New, Courier, monospace;
    font-size: 10px;
}


.weather {
    font-family: Courier New, Courier, monospace;
    font-size: 10px;
    color:whitesmoke;
    float: left;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 20px;
 }
